@import "config.less";
@import "mixins.less";

body {
    background-color: @bg1;
}

.login-box {
    .border-radius();
    padding: 20px;
    h1 {
        border-bottom: none;
    }
    label {
        display: inline-block;
        width: 6em;
    }
    .login-button-box {
        margin-top: 1em;
    }
    background-color: @bg;
    color: @fg;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 260px;
    height: 160px;
    margin-left: -150px;
    margin-top: -100px;
}