@import "config.less";
@import "mixins.less";

body {
    color: @fg;
    background-color: @bg;
    font-family: Arial, sans-serif;
}

#logout > div,
#localNav > div,
#projectNav > div,
#pageContent > div,
#pageFlash > div {
    width: @pageWidth;
    margin: 0px auto;
    padding: 2px 10px;
}

#logout {
    background-color: @bg1;
    div {
        padding-top: 10px;
    }
    form {
        text-align: right;
        button {
            background-color: @bg1;
            border: none;
            color: @fg1;
            cursor: pointer;

            &:hover {
                background-color: lighten(@bg1, 10%);
            }
        }
    }
}

#projectNav {
    background-color: @bg1;
    div {
        padding-bottom: 0px;
        .current{
            .menuitem(@bg, @bg, @fg);
        }
        .notcurrent {
            .menuitem(lighten(@bg1, 30%), lighten(@bg1, 40%), @fg);
        }
        .current, .notcurrent {
            min-width: 120px;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 0px;
            margin-right: 5px;
        }
        .plus {
            min-width: 20px;
            width: 20px;
        }
    }
}

#localNav {
    background-color: @bg;
    a {
        .menuitem(@bg, darken(@bg, 10%), @fg);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

h1 {
    font-size: 150%;
    border-bottom: 1px solid @fg;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#actions {
    width: @actionsWidth;
    float: right;
    button {
        cursor: pointer;
        display: block;
        width: @actionsWidth;
        background-color: @bg;
        color: @fg;
        text-align: left;
        &:hover {
            background-color: darken(@bg, 10%);
        }
        border: none;
    }
}

#content {
    width: @pageWidth - 10px - @actionsWidth;
    float: left;

    dt, th {
        font-weight: bold;
    }

    dd {
        margin-left: 4em;
    }

    table {
        table-layout: auto;
        width: 100%;
        font-family: 'PT Sans Narrow', Arial, sans-serif;
        font-size: 75%;

        th {
            text-align: left;
            font-weight: 400;
            font-size: 100%;
        }

        td.narrow {
            width: 1%;
            /*
            width: -moz-fit-content;
            width: -webkit-fit-content;
            width: fit-content;
            */
        }

    }

}
